.navigation {
  font-size: 18px;
  line-height: 22px;
  background-color: #FFEBCD;
  font-family: 'Josefin Sans', sans-serif;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
}

.navitem {
  display: inline-block;
  padding: 7px;
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
}

.navlink.active {
  box-shadow: inset 0 -3px #319df6;
}

.site-title{
	font-family: 'Source Serif Pro', serif;
	font-size: 50px;
	margin: 0;
	padding: 20px;
	color: #ffffff;
	background-color: #8b0000;
}

body{
	background-color: #dddddd;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
}

main{
	padding: 60px;
}

#charInfo #name{}
#charInfo #level{}
#charInfo #class{}
#charInfo #race{}
#charInfo #background{}
#charInfo #alignment{}
#charInfo #proficieny{}
#charInfo #profStat{
	display: inline-block;
}

.stats div {
	display: inline-block;
	border: 1px solid #000000;
	padding: 5px;
	margin: 5px;
}
.stats .statName{
	border: 0px;
	padding-right: 0px;
}
.stats .stat{
	margin: 0px;
	padding: 0px;
	border: 0px;
}
.stats .mod{
	margin: 0px;
	padding: 0px;
	border: 0px;
}
.stats .increment-stat-button{}
.stats .decrement-stat-button{}
.stats button{
	border-radius: 10px;
	background-color: #8b0000;
	border: 0px;
	color: #ffffff;
	font-weight: bold;
	width: 20px;
	height: 20px;
}

.stats button:hover{
	background-color: #be0000;
}

#throws div{
	display: inline-block;
	border: 1px solid #000000;
	padding: 5px;
	margin: 5px;
}

#throws .mod{
	border: 0px;
	padding: 0px;
}
#throws .statName{
	border: 0px;
	padding: 0px;
}

#throws button{
	border-radius: 5px;
	border: 0px;
	width: 20px;
	height: 20px;
	color: #ffffff;
	background-color: #999999;
}

#throws button:hover{
	background-color: #bbbbbb;
}

#skills	div{
	display: inline-block;
	border: 1px solid #000000;
	padding: 5px;
	margin: 5px;
}
#skills .mod{
	border: 0px;
	padding: 0px;
}
#skills .skill{
	border: 0px;
	padding: 0px;
}
#skills .toggle-proficiency{}

#skills button{
	border-radius: 5px;
	border: 0px;
	width: 20px;
	height: 20px;
	color: #ffffff;
	background-color: #999999;
}

#skills button:hover{
	background-color: #bbbbbb;
}

#spellDCStat{
	display: inline-block;
}

#spellAtkBonusStat{
	display: inline-block;
}