.navigation {
  background-color: #303030;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
}

.navitem {
  display: inline-block;
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
}

.navlink.active {
  box-shadow: inset 0 -3px #319df6;
}

header{
	background-color: #d0d0d0;
}

body{
	background-color: #dddddd;
}

#charInfo #name{}
#charInfo #level{}
#charInfo #class{}
#charInfo #race{}
#charInfo #background{}
#charInfo #alignment{}
#charInfo #profBonus{}

.stats .statName{}
.stats .stat{}
.stats .mod{}
.stats .increment-stat-button{}
.stats .decrement-stat-button{}

#throws .mod{}
#throws .statName{}

#skills .mod{}
#skills .description{}
#skills #toggle-proficiency{}

#spellDC{}

#spellAtkBonus{}